<div class='center-wrap' style='margin-top: 40px;'>
  <div class='quarter'>
    <%= image_tag('throop.jpg', class:'avatar') %>
  </div>

  <div class='three-quarters'>
    <p class='paragraph'>
      Lore impsum Lore impsum Lore impsum Lore impsum Lore impsum Lore impsum Lore impsum
      Lore impsum Lore impsum Lore impsum Lore impsum Lore impsum Lore impsum Lore impsum
    </p>

    <p class='paragraph'>
      Interested in connecting? <%= link_to 'Contact me', new_message_url %>
    </p>
  </div>
</div>
