<div class='blog-section'>
  <%= image_tag('dex.jpg', class:'client-logo') %>
</div>

<div class='blog-section'>
  <%= image_tag('pv.png', class:'client-logo') %>
</div>

<div class='blog-section'>
  <%= image_tag('wg.png', class:'client-logo') %>
</div>
