<section id="form-container">
  <h1 id='title'>Contact Me</h1>

  <form>
    <div class="field">
      <input type="text" placeholder="Who Are You?"/>
      <label for="name">Name</label>
      <span class="glyphicon glyphicon-ok"></span>
    </div>

    <div class="field">
      <input type="text" placeholder="name@email.com"/>
      <label for="email">Email</label>
      <span class="glyphicon glyphicon-ok"></span>
    </div>

    <div class="field">
      <textarea id="msg" rows="4" placeholder="Your message goes here..."/></textarea>
      <label for="msg">Message</label>
      <span class="glyphicon glyphicon-ok">??</span>
    </div>

    <input class="button" type="submit" value="Send" />
  </form>
</section>
