<div class="container">
  <!-- Add a placeholder for the Twitch embed -->
  <div id="twitch-embed"></div>
</div>

<div class='third'>
  <div class='center-wrap'>
    <p class='header' style='margin-bottom: 30px;'>ABOUT</p>

    <%= image_tag('throop.jpg', class:'tiny-avatar') %>

    <p class='tiny-paragraph'>
      <b>Caster | Writer | Gamer</b>
    </p>

    <p class='tiny-paragraph'>
      Interested in connecting? <%= link_to 'Contact me', new_message_url %>
    </p>
  </div>
</div>

<div class='third'>
  <div class='center-wrap'>
    <p class='header'>RECENT</p>
  </div>

  <%= link_to 'https://www.dexerto.com/news/esports-players-of-the-year-snakebite-halo/33773', class:'blog-link', target:'_blank' do %>
    <%= image_tag('dex-snakebite.jpg', class:'blog-image') %>
    <div class='center-wrap'>
      <b><p class='blog-text'>Esports Player of the Year: Snakebite</p></b>
      <p class='blog-text'>September 4th, 2017</p>
    </div>
  <% end %>

  <iframe id="hp-vid" width="75%" height="205" src="https://www.youtube.com/embed/eprszf3ZG7E&index=7&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>
</div>

<div class='third'>
  <!-- Tweets -->
  <div class='center-wrap'>
    <p class='header'>TWITTER</p>

    <a class="twitter-timeline"
      href="https://twitter.com/David_Throop"
      data-tweet-limit="10">
      Tweets by @ThroopeR
    </a>

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<!-- Load the Twitch embed script -->
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
<script type="text/javascript">
  new Twitch.Embed("twitch-embed", {
    //  width: 1060,
     height: 420,
     channel: "throoper"
   });
</script>
