<div class='center-wrap'>
  <b><h3 class=''>Kontrol Freek Alpha Edge Thumbsticks Product Review</p></h4></b>
  <p class=''>September 12th, 2017</p>

  <%= image_tag('kontrol-768x425.jpg', class:'blog-image') %>

  <p class='paragraph'>

  </p>
</div>
