<div class="frame">
  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/aOcHm2YOxrk" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/ZDczzDVtVWU" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/CMP6gPYeltE" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/CRaRhwnCkXQ" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/vMHSJGSVS6Y" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/yFnAn3D-qrw" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/fSvk_lwaI1k" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/d0iyt0WXRgg" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/7-KHfKqTcZ4" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/KhmNR_uegQM" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/ecD-QWwsZqo" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/nT8K_J_G38A" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/ledLz-pPT5o" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/CMWxN44kcIg&index=1&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/SGI103X_s9Q&index=2&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/qAyyEzffoG0&index=3&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/GnkPmRqr0_I&index=4&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/SZ5tP-sySoQ&index=5&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/1RzpK10IAfw&index=6&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>

  <iframe id="yt-vid" width="400" height="205" src="https://www.youtube.com/embed/eprszf3ZG7E&index=7&list=PLMiC-rAM8BQ1t2UIUBIT4RTiM4RlFy7RG" frameborder="0" allowfullscreen></iframe>
</div>
