$grey: #616161;
$dark-grey: #424242;
$light-grey: #bdbdbd;
$dark-purple: #11051b;
$hover-purple: #4a148c;
$banner-purple: #2F2540;
$banner-yellow: #FCF9AE;

$hover-label-width: 25%;
$placeholder-bumper: 1.5%;
$label-padding: 18px;
