@import "bootstrap-sprockets";
@import 'bootstrap';

.nav-logo {
  width: 36px;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-toggle {
  float: left;
  border: none;
}

.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    display: inline-block;
    float: none;
    > a {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-default .navbar-nav > li {
    width: 100%;
  }
}
